<style>
  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }

  main {
    margin-top: 0;
    background-color: #a0c4ff;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .main h1{
    text-decoration: underline;
  }

  .Ejercicio {
    background-color: #fff3b0;
    list-style-type: none;
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
  }

  .Ejercicio h1 {
    text-align: center;
    margin-top: 2rem;
  }

  .Ejercicio p {
    margin-top: 1rem;
  }
</style>

    <!--  HTML  -->
<main class="main">
    <h1>{{title()}}</h1>
    <div class="Ejercicio">
      <h1>Ejercicio 1</h1>
      <p>Realiza un array llamado playas donde almacenes las cinco playas favoritas que
      tengas. Recorra ahora dicho array mostrando las playas que ocupan posición par.</p>
      <ul *ngFor="let playa of filtra_playas_pares()">
        <li>{{ playa }}</li>
      </ul>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 2</h1>
      <p>Realiza un array que almacene las notas de diez alumnos de clase. Pinta la menor y
        la mayor de todas.</p>
      <p>La nota mayor es: {{ Obten_nota_max() }}</p>
      <p>La nota minima es: {{ Obten_nota_min() }}</p>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 3</h1>
      <p>Realiza un array que almacene las edades de todos los compañeros de clase. Pinta
      la media ignorando a los que son menores de 18 y mayores de 50.</p>
      <p>La media de edad de la clase es: {{ Calculo_media_edad() }}</p>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 4</h1>
      <p>Eliminar el color verde de un array que almacena cinco colores cualesquiera, 
      entre ellos debe estar el verde</p>
      <ul *ngFor="let color of elimina_color('verde')">
        <li>{{ color }}</li>
      </ul>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 5</h1>
      <p>Supon un array ordenado alfabéticamente de frutas. (Aguacate, Banana, Chirimoya,
      Dátil, Fresa, Guayaba, Kiwi, Limón, Naranja, Pera, Sandía, Uva, Yuca). Introduce el
      melón de forma que el orden se mantenga usando splice.</p>

      <label for="fruta"></label>
      <input [(ngModel)]="fruta" id="fruta" type="text">
      <button (click)="addFruit()">Insertar fruta</button>
      <ul *ngFor="let fruta of Frutas">
        <li>{{ fruta }}</li>
      </ul>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 6</h1>
      <p>Crea un array multidimensional que represente las butacas de un teatro con 10 filas
      y 15 columnas. Realiza un algoritmo que de forma aleatoria ocupe (1) cinco asientos
      dejando el resto de butacas sin ocupar (0). Finalmente muestra las butacas
      ocupadas. Si el algoritmo coincide en ocupar una butaca que ya anteriormente
      estaba ocupada realiza otro intento.</p>
      
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 7</h1>
      <p>Implemente una calculadora de matrices que dada dos matrices del mismo tamaño
      devuelva una tercera matriz con el resultado de la suma.</p>
      <button (click)="inicializaMatriz()">matriz</button>
    </div>
</main>