<style>
  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }

  main {
    margin-top: 0;
    background-color: #a0c4ff;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .Ejercicio {
    background-color: #fff3b0;
    list-style-type: none;
    padding-left: 15px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
  }

  .Ejercicio h1 {
    text-align: center;
    margin-top: 2rem;
  }

  .Ejercicio p {
    margin-top: 1rem;
  }
</style>

    <!--  HTML  -->
<main class="main">
    <h1>{{title()}}</h1>
    <div class="Ejercicio">
      <h1>Ejercicio 1</h1>
      <p>Realiza un array llamado playas donde almacenes las cinco playas favoritas que
      tengas. Recorra ahora dicho array mostrando las playas que ocupan posición par.</p>
      <ul *ngFor="let playa of filtra_playas_pares()">
        <li>{{ playa }}</li>
      </ul>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 2</h1>
      <p>Realiza un array que almacene las notas de diez alumnos de clase. Pinta la menor y
        la mayor de todas.</p>
      <p>La nota mayor es: {{ Obten_nota_max() }}</p>
      <p>La nota minima es: {{ Obten_nota_min() }}</p>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 3</h1>
      <p>Realiza un array que almacene las edades de todos los compañeros de clase. Pinta
      la media ignorando a los que son menores de 18 y mayores de 50.</p>
      <p>La media de edad de la clase es: {{ Calculo_media_edad() }}</p>
    </div>

    <div class="Ejercicio">
      <h1>Ejercicio 4</h1>
      <p>Eliminar el color verde de un array que almacena cinco colores cualesquiera, 
      entre ellos debe estar el verde</p>
      <ul *ngFor="let color of elimina_color('verde')">
        <li>{{ color }}</li>
      </ul>
    </div>

</main>